<div class="uk-height-1-1 uk-devise-views">
  <div class="uk-vertical-align uk-text-center uk-height-1-1">
    <div class="uk-vertical-align-middle" style="width: 250px;">
      <div class="uk-panel uk-panel-box uk-form">
        <h1><%= t('.change_your_password', :default => 'Change your password') %></h1>
        <%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :put, role: "form" }) do |f| %>
        <%= f.hidden_field :reset_password_token %>
        <div class="uk-form uk-form-stacked">
          <div class="uk-form-row">
            <%= f.label :password, t('.new_password', :default => 'New password'), :class => "uk-form-label" %>
            <%= f.password_field :password, autofocus: true, :class => "uk-form-controls uk-form-width-large"  %>
          </div>

          <div class="uk-form-row">
            <%= f.label :password_confirmation, t('.confirm_new_password', :default => 'Confirm new password'), :class => "uk-form-label" %>
            <%= f.password_field :password_confirmation, :class => "uk-form-controls uk-form-width-large"  %>
          </div>
          <br />
          <%= f.button t('.change_my_password', :default => 'Change my password'), :class => 'uk-button uk-button-primary' %>
          <% end %>
        </div>
        <%= render "devise/shared/links" %>
      </div>
    </div>
  </div>
</div>
